<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agenda.name %>
</p>

<p>
  <strong>Song:</strong>
  <%= @agenda.song %>
</p>

<p>
  <strong>Rapper:</strong>
  <%= @agenda.rapper.name %>
</p>

<p>
  <strong>Video:</strong>
  <iframe width="420" height="315" frameborder="0" allowfullscreen src="<%= @agenda.video.strip %>" ></iframe>
</p>

<p>
  <strong>Resource:</strong>
  <%= raw @agenda.resource %>
</p>

<p>
  <strong>Type:</strong>
  <%= @agenda.type.feeling %>
</p>

<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
