<section class="section resource-container" id="head" >
  <div class="container">

    <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 

          <h2 class="subtitle agenda">Your new agenda should be:</h2>
          <h1 class="title resource-title"><%= @agenda.name %></h1>
          <h2 class="subtitle resources">Inspired by "<%= @agenda.song %>" from <%= @agenda.rapper.name %></h2>

          <iframe width="640" height="360" frameborder="0" allowfullscreen src="<%= @agenda.video.strip %>" ></iframe>

          <h2 class="subtitle resource-subtitle">Resources:</h2>
          <h3 class="tagline resources2"><%= raw @agenda.resource %></h3>


  
      </div> <!-- /col -->
    </div> <!-- /row -->
  
  </div>
</section>
