<p id="notice"><%= notice %></p>

<p>
  <strong>Rapper:</strong>
  <%= @selection.rapper_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @selection.type_id %>
</p>

<%= link_to 'Edit', edit_selection_path(@selection) %> |
<%= link_to 'Back', selections_path %>
