<br><br><br><br>

<h1>Listing rappers</h1>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rappers.each do |rapper| %>
      <tr>
        <td><%= rapper.name %></td>
        <td><%= link_to 'Show', rapper %></td>
        <td><%= link_to 'Edit', edit_rapper_path(rapper) %></td>
        <td><%= link_to 'Destroy', rapper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rapper', new_rapper_path %>
